body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Piazzolla', serif;
}

.question_container {
    margin-left: 15%;
    margin-top: 80px;
}

.queston_text {
    margin-top: 20px;
    font-size: 28px;
}

.selected_option {
    margin-top: 20px;
}

.is_correct {
    margin-top: 5px;
}

.score_container {
    margin-top: 100px;
}

.hidden_input {
    display: none;
}

.return_button {
    display: block;
    width: 15%;
    margin-left: 42.5%;
    height: 40px;
    text-decoration: none;
    background-color: #2b2b2b;
    border: 0;
    text-decoration: none;
    color: #7F7F7F;
    line-height: 40px;
    text-align: center;
}

.return_button:hover {
    color: white;
    text-shadow: 0px 0px 15px white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 10px #cccccc;
}