<!doctype html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;500&display=swap">
    </head>

    <body>

        {% include 'header.html' %}

        <main class="main">

            <input class="hidden_input" id="token" value="{{ csrf_token }}">

            <div class="content_container">

                {% for test in object_list %}

                <div class="test_card">

                    <div class="test_card_image">

                        <img class="test_image" src="{{ test.image.url }}">

                    </div>

                    <div class="test_card_name">

                        <a class="index_link" href="{% url 'single_test' test.pk %}"> {{ test.name }} </a>

                    </div>

                </div>

                {% endfor %}

            </div>

        </main>

    </body>

</html>