<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;500&display=swap">
    </head>

    <body class="body">

        {% include 'header.html' %}

        <main class="main">

            <div class="registration_form_container">

                <form method="post" action="{% url 'profile_edit' request.user.id %}" class="registration_form" enctype='multipart/form-data'>

                    {% csrf_token %}

                    <div class="registration_form_group">

                        {{ form.first_name }}
                        <div id="first_name_border" class="input_border"></div>
                        {% if 'first_name' in form.errors %}
                            {% for error in form.first_name.errors %}
                                <div id="first_name_errors" class="form_errors"> {{ error }} </div> 
                            {% endfor %}
                        {% endif %}
                        
                    </div>

                    <div class="registration_form_group">

                        {{ form.last_name }}
                        <div id="last_name_border" class="input_border"></div>
                        {% if 'last_name' in form.errors %}
                            {% for error in form.last_name.errors %}
                                <div id="last_name_errors" class="form_errors"> {{ error }} </div> 
                            {% endfor %}
                        {% endif %}

                    </div>

                    <div class="registration_form_group">

                        {{ form.username }}
                        <div id="works_for_border" class="input_border"></div>
                        {% if 'username' in form.errors %}
                            {% for error in form.username.errors %}
                                <div id="username_errors" class="form_errors"> {{ error }} </div> 
                            {% endfor %}
                        {% endif %}

                    </div>

                    <div class="registration_form_group">

                        {{ form.email }}
                        <div id="email_border" class="input_border"></div>
                        {% if 'email' in form.errors %}
                            {% for error in form.email.errors %}
                                <div id="email_errors" class="form_errors"> {{ error }} </div> 
                            {% endfor %}
                        {% endif %}

                    </div>

                    <div class="registration_form_group">

                        {{ form.phone }}
                        <div id="phone_border" class="input_border"></div>
                        {% if 'phone' in form.errors %}
                            {% for error in form.phone.errors %}
                                <div id="phone_errors" class="form_errors"> {{ error }} </div> 
                            {% endfor %}
                        {% endif %}

                    </div>

                    <div class="registration_form_group">

                        {{ form.userpic }}

                    </div>

                    <div class="registration_form_group">

                        <div class="button_container">

                            <button type="submit" class="submit_button"> Изменить </button>

                        </div>

                    </div>

                </form>

            </div>

        </main>

    </body>

</html>