<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/single_test_teacher.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;500&display=swap">
    </head>

    <body>

        {% include 'header.html' %}

        <main class='main'>

            <div class="userlist">

                {% for obj in object.users_passed.all %}

                <div class="results_card" id="user_result_{{ obj.id }}">

                    <input class="hidden_input" id="token" value="{{ csrf_token }}">

                    <div class="student_name">

                        {{ obj.user.first_name }} {{ obj.user.last_name }}:

                    </div>

                    <div class="student_score">

                        {{ obj.score }} %

                    </div>

                    <div class="remove_button">

                        <button rel_id="{{ obj.id }}" class="remove_relation_button"> Сбросить результат </button>

                    </div>

                </div>

                {% endfor %}

            </div>

        </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/single_test_teacher.js' %}"></script>

    </body>

</html>